.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl, .container-xxxl {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

div {
    display: block;
}